.gradle/
build/
**/build/

local.properties

.idea/
*.iml
.DS_Store

*.log
output-metadata.json

captures/
.externalNativeBuild/
.cxx/

*.jks
*.keystore

*.apk
*.aab

google-services.json

*.hprof

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

.DS_Store
Thumbs.db